<h1>Add book to Library!</h1>

<%= render 'form', book: @book, action: :new %>

<!-- 
<form action="/books" method="post">
    <label for="title">Title</label>
    <input id="title" type="text" name="book[title]">

    <br>

    <label for="author">Author</label>
    <input id="author" type="text" name="book[author]">

    <br>

    <label for="year">Year</label>
    <input id="year" type="text" name="book[year]">

    <br>

    <label for="category">Category</label>
    <select id="category" name="book[category]">
        <option disabled selected>--Please Select--</option>
        <option value="Novel">Novel</option>
        <option value="Narrative">Narrative</option>
        <option value="Tragedy">Tragedy</option>
        <option value="Poem">Poem</option>
    </select>

    <br><br>

    <label for="description">Description</label>
    <textarea name="book[description]"></textarea>

    <br>

    <input type="submit" value="Add book to library">
</form>
-->
